*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #fcf3fb

}

.texto  {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #fcf3fb;
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 50%;
    left: 12%;
    top: 82%;
}

.boton-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 20%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    margin-right: 5px; 
}

.boton-desencriptar {
    box-sizing: border-box;
    display:  flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 20%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
    margin-right: 5px; 
}

.boton-copiar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 20%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.boton-encriptar:hover,
.boton-desencriptar:hover,
.boton-copiar:hover {
    margin: 0.3%;
    width: 20%;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 30%;
    height: 100%;
    max-height: 90%;
    left: 60%;
    top: 5%;
    background: #fcf3fb
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 20px;
    box-sizing: border-box; 
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 10px;
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 85%;
    height: 15%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}


.encriptado #buscando {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 5%;
}

.encriptado #textarea {
    width: 100%; 
    height: 15%; 
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
    line-height: 75%;
    background-color: #fff;
    border: none; 
    outline: none; 
    padding: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    resize: none; 
    margin-bottom: 20px; 
}

.footer { 
    background-color: #333;
    color: #fff; 
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px; 
}

.footer p {
    margin: 0;
    font-size: 14px; 

    }

    .logo-container {
        position: absolute;
        margin: 0;
        border: none;
        top: 10px;
        left: 10px;
        z-index: 1000; 
    }
    
    .logo {
        width: 100px; 
        height: auto;
        

    }

/*responsive design */
@media (max-width:57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }
    
    .encriptar {
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p {
        font-size: 16px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 70%; 
    }
    .boton-encriptar,
    .boton-desencriptar,
    .boton-copiar {
        width: 48%;
        border-radius: 16px;
    }

    .boton-encriptar:hover,
    .boton-desencriptar:hover,
    .boton-copiar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: auto;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}